@import url("global.css");

body {
    margin:0;
}

h1 {
    font-family: 'Pacifico';
    text-align: center;
    font-size: 40px;
    color: lightblue;
}

.bio-content {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.bio-text {
  font-family: 'Montserrat', sans-serif;
  width: 75vw;
  margin-left: 50px;

}

.bio-photo {
  width: 300px;
  margin-left: 50px;
  height: auto;
  border-radius: 10px;
}

.bio-photo:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {


}