@import url("global.css");

body {
    margin:0;
}

h1 {
    font-family: 'Pacifico';
    text-align: center;
    font-size: 40px;
    color: lightblue;
}

.concerts-list {
    display: block;
    margin: 0 auto;
    width: 600px;
    border-style: solid;
    border-radius: 8px;
    border-color: lightblue;;
}

.concerts-list th {
    padding: 20px;
    color: white;
    background-color: lightblue;
}

.concerts-list td {
    width: 400px;
    padding: 10px;
    text-align: center;
}




/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {
    .concerts-list {
        display: block;
        width:400px;
    }
   
    tbody {
        width:300px;
    }
}