/*NAVIGATIEMENU*/

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 200px;
    background-color: #FF6F61;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 35px;
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    color: #FFD54F;
    font-size: 45px;
}

.nav-menu a.active {
    font-weight: bold;
    border-bottom: 2px solid #FFD54F;
}

/* Hamburger knop */
.hamburger {
    display: none;
    font-size: 40px;
    color: #FFD54F;
    cursor: pointer;
    padding: 20px;
    user-select: none;
}


/* EINDE NAVIGATIEMENU */



/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }

    nav a {
    font-size: 25px;
}

    nav a:hover {
    font-size: 35px;
}

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Verberg menu als 'show' ontbreekt */
    .nav-menu:not(.show) {
        display: none;
    }
}