@import url("global.css");

body {
    margin:0;
}

.contact {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 25px;
}


h1 {
    font-family: 'Pacifico';
    font-size: 40px;
    text-align: center;
    color: lightblue;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* banner adobe animate */

/* Adobde animate  */

     #animation_container {
	width: 100%;
	height: auto;
	top: -50px;
	position:relative;
	margin:auto;
	margin-bottom: 0px;
  }

  
  @media (min-width: 1280px) {

	.img-wrap { display: none; }
              .animatieBanner{display: flex;}
}

@media (max-width: 1279px){

	.img-wrap {display: flex;}
              .animatieBanner{display: none;}	
}

/* END banner */


/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {
    
}

