@import url("global.css");

body {
    margin:0;
}

.contact {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 150px;
}


h1 {
    font-family: 'Pacifico';
    font-size: 40px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {


}