/*NAVIGATIEMENU*/

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    background-color: #FF6F61;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 35px;
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    color: #FFD54F;
    font-size: 45px;
}

.nav-menu a.active {
    font-weight: bold;
    border-bottom: 2px solid #FFD54F;
}

/* Hamburger knop */
.hamburger {
    display: none;
    font-size: 40px;
    color: #FFD54F;
    cursor: pointer;
    padding: 20px;
    user-select: none;
}

/* EINDE NAVIGATIEMENU */


/* CAROUSEL */

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.carousel-track {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.img-home {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin: 0 10px;
    border-radius: 8px;
    object-fit: cover;
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    border-radius: 8px; /* eerder was dit 50% */
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow.left {
    position: absolute;
    left: 10px;
}

.arrow.right {
    position: absolute;
    right: 10px;
}

/* EINDE CAROUSEL */


/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }

    nav a {
    font-size: 25px;
}

    nav a:hover {
    font-size: 35px;
}

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Verberg menu als 'show' ontbreekt */
    .nav-menu:not(.show) {
        display: none;
    }
}