@import url("global.css");

body {
    margin: 0;
}

/* BEWEGENDE HOOFDTITEL */
#welcomeTitle {
    font-family: 'Pacifico';
    font-size: 60px;
    color: white;
    text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black,
     3px  3px 5px rgba(0, 0, 0, 0.5); /* echte schaduw */
    position: absolute;
    top: 230px;
    left: 0;
    z-index: 1000; 
    white-space: nowrap;
    animation: slideFullWidth 6s ease-in-out infinite alternate;
}

@keyframes slideFullWidth {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw - 100%));
  }
}
/* EINDE BEWEGENDE HOOFDTITEL */

/* SLIDESHOW */
.img-home {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}
/* EINDE SLIDESHOW */


/* VOOR KLEINERE SCHERMEN */
@media screen and (max-width: 1200px) {


}


/* VOOR TABLETS */
@media screen and (max-width: 992px) {


}

/* VOOR SMARTPHONES */
@media screen and (max-width: 768px) {

   
    /* hoofdtitel */
    #welcomeTitle {
    font-size: 30px;;
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: center;
    animation: none;
}

}